@font-face {
    font-family: "DIN-Next-W01-Light";
    src: url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.eot");
    src: url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.svg#DIN Next Rounded LT W01 Light")format("svg");
    font-display: block;
}

@font-face {
    font-family: "Proxima-N-W01-Reg";
    src: url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot");
    src: url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.svg#Proxima N W01 Reg")format("svg");
    font-display: block;
}

@font-face {
    font-family: "Brandon-Grot-W01-Light";
    src: url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot");
    src: url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.svg#Brandon Grot W01 Light")format("svg");
    font-display: block;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 15px;
    font-family: "Proxima-N-W01-Reg";
    color: #343434;
}

p{
    text-decoration: none;
    font-size: 15px;
    font-family: "Proxima-N-W01-Reg";
    margin: 4px;
}

a:hover {
    color: #d42929;
}

#email:hover {
    color:#343434;
}

.header{
    text-align: right;
    position: relative;
    padding-top: 45px;
    padding-right: 285px;
}

#navbar {
    display:inline;
    margin: 70px;
    text-align: center;      
}

#navbar_links li{
    display: inline;
    padding: 48px;
    align-items: center;
}

#navbar_links a{
    font-size: 14px;
    color: #848484;

}